<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  
  <appSettings>
    <add key="DbConnectionString" value="Data Source=89.31.34.147;Initial Catalog=sdk;user = gpsTracker; password = STV1aTcBOa3QdhS" />
    <add key="ServerAddress" value="192.168.1.2" />
    <add key="ServerPort" value="9000" />

    
  </appSettings>

  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="d:\temp\gpstracker.log"/>
      <param name="AppendToFile" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value=""/>
        <param name="Footer" value=""/>
        <param name="ConversionPattern" value="%date [%thread] %level %logger - %message%newline"/>
      </layout>
    </appender>



    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="d:\temp\gpstracker.log"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Size"/>
      <param name="MaxSizeRollBackups" value="20"/>
      <param name="MaximumFileSize" value="100MB"/>
      <param name="StaticLogFileName" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value=""/>
        <param name="Footer" value=""/>
        <param name="ConversionPattern" value="%date [%thread] %level %logger - %message%newline"/>
      </layout>
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n"/>
        <param name="Footer" value="[Footer]\r\n"/>
        <param name="ConversionPattern" value="%date [%thread] %level %logger - %message%newline"/>
      </layout>
    </appender>
    
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="ConsoleAppender"/>

    </root>

  </log4net>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
      switchValue="Information, ActivityTracing">
        <listeners>
          <add name="log"
          type="System.Diagnostics.XmlWriterTraceListener"
          initializeData="d:\temp\skdserver.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  
  
</configuration>